<!--
 node-auth-example - logout page
 Copyright(c) 2020 Marian Kapisinsky
 MIT Licensed
-->

<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        <h1>Log Out</h1>
	    <p><%= content %></p>
        <hr>
	    <a href="<%= link %>"><%= linkText %></a>
    </body>
</html>
